<h3 class = "qanda">Q:</h3>
<h3><%= @question.question %></h3>
Location: <%= @question.location.city %><br>
By:<%= @question.user.username %><br>
Asked: <%= @question.created_at.strftime("%b %e, %l:%M %p") %><br>

<h1 class = "qanda">A:</h1>
<% if @answers.empty? %> 
  <h3>There are no answers to this question yet. Be the first to answer.</h3>
<% else %>
  <% @answers.each do | answer | %>
    <div class = "well">
      <div class = "row">
        <div class = "col-md-2">
          User: <%= answer.user.username %><br>
          Status: <%= answer.user.status %><br>
          Posts: <%= answer.user.posts %>
        </div>
        <div class = "col-md-8">
          <strong><%= answer.created_at.strftime("%b %e, %l:%M %p") %></strong><br>
          <%= simple_format(answer.answer) %>
        </div>
        <div class = "col-md-2">
        <%= button_to "Report Inapropirate", "/inappropriates//?answer=#{answer.id}", method: :post %>
        <%= button_to "Edit Post", "/answers/edit/#{answer.id}", method: :get %>

        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_tag "/answers/new/#{@question.id}", method: :post %>
<div>Answer:</div>
<textarea name="answer" cols="75" rows="7"></textarea>
<div>
<input type="submit" value = "submit">
