<h1>Unread Notications</h1>

<% if @notifications_questions.empty? == false  %>
  <h1>There are new answers to your question</h1>
  <% @notifications_questions.each do | notification |%>
    <p>Question: <%= notification.question.question %></p>
    <p>Answer: <%= notification.answer.answer %>
  <% end %>
<% end %>


<% if @notifications_reports.empty? == false  %>
  <h1>There are new comments to your report</h1>
  <% @notifications_reports.each do | notification |%>
    <p>Report: <%= notification.report.title %></p>
    <p>Comment: <%= notification.comment.text %>
  <% end %>
<% end %>

<% if @notifications_answers.empty? == false  %>
  <h1>There are new comments to your answer</h1>
  <% @notifications_answers.each do | notification |%>
    <p>Answer: <%= notification.comment.answer.answer %></p>
    <p>Comment: <%= notification.comment.text %>
  <% end %>
<% end %>
