<h1>All Tips</h1>
<% @tips.each do | tip | %>
<div class = "well">
<div class = "row">
<div class = "col-md-2">
<%= tip.user.username %><br>
<%= tip.user.status %><br>
<%= tip.user.posts %>
</div>
<div class = "col-md-9">
<strong><%= tip.location.city %>: </strong>
<i><%= tip.venue %></i><br>
<%= tip.text %>
<br><br><button id = "buttonToComment" onclick = "seeAddComment()">Add A Comment</button>
<button id = "buttonToSeeComments" onclick = "seeTipComments()">Read Comments <%= @comments.where(tip_id: tip.id).count %></button>

<div id = "tipComments" class = "tipComments hide">
<h4>Comments:</h4>
<% @comments.where(tip_id: tip.id).each do | comment | %>
  <div class = "well">
    <div class = "row">
      <div class = "col-md-2">
        <%= comment.user.username %>
      </div>
      <div class = "col-md-8">
        <%= simple_format(comment.text.html_safe) %><br>
      </div>
      <div class = "col-md-2">
        <p onclick = "tipReply(<%= comment.id %>, '<%= comment.user.username %>')">Reply</p>
      </div>
    </div>
  </div>
<% end %>

<div id = "addTipComment">
<%= form_tag "/comments/#{tip.id}/new/?tip=new", method: :post do %>
  Comment: <br>
  <textarea name="text" cols="50" rows="10" id="tipComment"></textarea><br>
  <input type = "submit" value = "Add Comment">
  <% end %>

  <button onclick = "seeTipComments()">Close Comments</button>

  </div>


</div>
</div>
<div class = "col-md-1">
<%= button_to "Like", "/likes/#{tip.id}/?tip=true", method: :post %>
<%= tip.likes.where(like: true).count  %>
<%= button_to "Dislike", "/likes/#{tip.id}/?tip=false", method: :post %>
<%= tip.likes.where(like: false).count  %>
</div>
</div>


</div>
<% end %>
