<h1>Edit Your Post</h1>
<%= form_tag "/reports/edit/#{@report.id}", method: :patch %>
<div>Title:</div>
<input type="text" name = "title" value = "<%= @report.title %>">
<div>City:</div>
<input type="text" name = "city" value = "<%= @report.locations.first.city %>">
<div>State:</div>
<input type="text" name = "state" value = "<%= @report.locations.first.state %>">
<div>Country:</div>
<input type="text" name = "country" value = "<%= @report.locations.first.country %>">
<div>Duration</div>
<input type="text" name = "duration" value = "<%= @report.duration %>">
<div>Season:</div>
<input type="text" name = "season" value = "<%= @report.season %>">
<div>Report:</div>
<textarea name="text" cols="50" rows="10"><%= @report.text %></textarea>
<div>
<input type = "submit" value = "Submit Post">
</div>