<div id='main' role='main'>
        <!-- <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>
                  Blog (Small image)
                </h1>
                <ol class='breadcrumb'>
                  <li>
                    <a href='index.html'>
                      <i class='fa fa-home'></i>
                    </a>
                  </li>
                  <li class='active'>Blog</li>
                </ol>
              </div>
            </div>
          </div>
        </div> -->
        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                <nav class='sidebar'>
                  <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                  </button>
                  <div class='sidebar-collapse collapse'>
                    <div class='box'>
                      <h3 class='title'>Search by Title</h3>
                      <%= form_tag "/reports/index", method: :post do %>
                        <div class='input-group'>
                          <input class='form-control' placeholder='Search...' type='text' name = "searchbox">
                          <span class='input-group-btn'>
                            <button class='btn btn-contrast' type='button'>
                              <i class='fa fa-search'></i>
                            </button>
                          </span>
                        </div>
                      <% end %>
                    </div>
                    <div class = "tip_qa_boxes">
                      <h5 class = "text-center tip_qa_heading">Everything you need to know about</h5>
                      <h3 class = "text-center tip_qa_city"><%= @city %></h3>
                        <a href ="/tips/?city=<%= @city %>">
                        <div class='box'>
                          <div class='go_to_tips'>
                          <h6 class = "tip_box text-center">Click Here For</h6>
                          <h1 class = "tip_box2 text-center">Tips</h1>
                          </div>
                        </div>
                        </a>
                        <a href = "/questions/?city=<%= @city %>">
                        <div class='box'>
                          <div class='go_to_tips'>
                          <h6 class = "tip_box text-center">Click Here For</h6>
                          <h1 class= "tip_box2 text-center">Q&A</h1>
                          </div>
                        </div>
                        </a>
                    </div>
                    <div class = "aboutcity">
                      <p>San Diego is a city on the Pacific coast of California known for its beaches, parks and warm climate. Immense Balboa Park is the site of the renowned San Diego Zoo, as well as numerous art galleries, artist studios, museums and gardens. A deep harbor is home to a large active naval fleet, with the USS Midway, an aircraft-carrier-turned-museum, open to the public.</p>
                    </div>
                    <div class='box'>
                      <h3 class='title'>Photostream</h3>
                      <ul class='list-unstyled list-inline image-list-box'>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class='box social-box'>
                      <h3 class='title'>Latest tweets</h3>
                      <div class='icon-boxes icon-boxes-nowrap'>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-twitter text-contrast'></i>
                          </div>
                          <div class='content'>
                            <p>
                              Phasellus vulputate lobortis sem. Mauris id velit in urna.
                              <br>
                              <a class='time' href='#'>
                                <i>1 hour ago</i>
                              </a>
                            </p>
                          </div>
                        </div>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-twitter text-contrast'></i>
                          </div>
                          <div class='content'>
                            <p>
                              Etiam luctus, dui congue tempus blandit, dui.
                              <br>
                              <a class='time' href='#'>
                                <i>3 hours ago</i>
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>





              <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                <div class='text-boxes'>

                <div class='row' id='portfolio-filter'>
              <div class='col-sm-12'>
                <ul class='nav nav-pills'>
                  <li class='active'><a data-filter="*" href="/reports/index">Latest</a></li>
                  <li><a data-filter=".portfolio-filter-photography" href="/reports/index/?abc=true">By Name</a></li>
                  <li><a data-filter=".portfolio-filter-identity" href="#">Best Rated</a></li>
                  <li><a data-filter=".portfolio-filter-webdesign" href="/reports/index/?random=true">Random</a></li>
                </ul>
              </div>
            </div>

        <% @reports.each do |report| %>
                  <div class='row text-box text-box-title-above'>
                    <div class='col-sm-12'>
                      <h2 class='title'><a href="/reports/<%= report.id %>"><%= report.title %></a></h2>
                      <div class='toolbar'>
                      <a class='btn btn-link' href='#'>
                          <i class='fa fa-map'></i>
                          <span><%= report.locations.first.city %>, <%= report.locations.first.state %>, <%= report.locations.first.country %></span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-clock-o'></i>
                          <span><%= report.duration %></span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-calendar'></i>
                          <span><%= report.season %></span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-user'></i>
                          <span><%= report.user.username %></span>
                        </a>
                       <!--  <a class='btn btn-link' href='#'>
                          <i class='fa fa-thumbs-up'></i>
                          <span>Likes: <%= report.likes.count %></span>
                        </a> -->
                      </div>
                      <div class='row'>
                        <div class='col-sm-3'>
                          <a href='blog_single_post.html'>
                            <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" width="189" height="129" src="<%= report.photos.first_image %>" />
                          </a>
                        </div>
                        <div class='col-sm-9'>
                          <p><%= simple_format(report.text.first(400)) %> ...</p>
                          <a class='btn btn-contrast btn-bordered btn-xs' href='/reports/<%= report.id %>'>Read more</a>
                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>
       <% end %>



</div>
<%= paginate(@reports) %>
                <div class='text-center'>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>