<div id='main' role='main'>
        <!-- <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>
                  <%= @report.title %>
                </h1>
                <ol class='breadcrumb'>
                  <li>
                    <a href='index.html'>
                      <i class='fa fa-home'></i>
                    </a>
                  </li>
                  <li>
                    <a href='blog_large.html'>
                      <%= @report.user.username %>
                    </a>
                  </li>
                  <li class='active'>Trip Notes</li>
                </ol>
              </div>
            </div>
          </div>
        </div> -->
        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                <nav class='sidebar'>
                  <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                  </button>
                  <div class='sidebar-collapse collapse'>
                    <div class='box'>
                      <h3 class='title'>Search in blog</h3>
                      <form action='blog_large.html' method='get'>
                        <div class='input-group'>
                          <input class='form-control' placeholder='Search...' type='text'>
                          <span class='input-group-btn'>
                            <button class='btn btn-contrast' type='button'>
                              <i class='fa fa-search'></i>
                            </button>
                          </span>
                        </div>
                      </form>
                    </div>
                    <div class='box'>
                      <h3 class='title'>More <%= @city %> Reports</h3>
                      <div class='list-group'>

                      <% @others.each do | other_report | %>
                          <a class="list-group-item" href="/reports/<%= other_report.id %>"><i class='fa fa-angle-right fa fa-fixed-width'></i>
                        <%= other_report.title %>
                        </a>
                        <% end %>
                      
                          
                      </div>
                    </div>
                    <div class='box'>
                      <h3 class='title'>Photostream</h3>
                      <ul class='list-unstyled list-inline image-list-box'>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="http://placehold.it/50x50" />
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class='box social-box'>
                      <h3 class='title'>Latest tweets</h3>
                      <div class='icon-boxes icon-boxes-nowrap'>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-twitter text-contrast'></i>
                          </div>
                          <div class='content'>
                            <p>
                              Phasellus vulputate lobortis sem. Mauris id velit in urna.
                              <br>
                              <a class='time' href='#'>
                                <i>1 hour ago</i>
                              </a>
                            </p>
                          </div>
                        </div>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-twitter text-contrast'></i>
                          </div>
                          <div class='content'>
                            <p>
                              Etiam luctus, dui congue tempus blandit, dui.
                              <br>
                              <a class='time' href='#'>
                                <i>3 hours ago</i>
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                <div class='text-boxes'>
                  <div class='row text-box text-box-title-above text-box-big-image'>
                    <div class='col-sm-12'>
                      <h2 class='title'><a href="/blog_single_post.html">
                      <% if params[:searchbox] %>
                      <%= @report.title.gsub(params[:searchbox], "<span class='highlight'>#{params[:searchbox]}</span>").gsub(params[:searchbox].titleize, "<span class='highlight'>#{params[:searchbox].titleize}</span>").html_safe %>
                      <% else %>
                      <%= @report.title %>
                      <% end %>
                      </a>
                      </h2>
                      <div class='toolbar'>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-map'></i>
                          <% if params[:searchbox] %>
                            <span><%= @report.locations.first.city.gsub(params[:searchbox], "<span class='highlight'>#{params[:searchbox]}</span>").gsub(params[:searchbox].titleize, "<span class='highlight'>#{params[:searchbox].titleize}</span>").html_safe %>, <%= @report.locations.first.state.gsub(params[:searchbox], "<span class='highlight'>#{params[:searchbox]}</span>").gsub(params[:searchbox].titleize, "<span class='highlight'>#{params[:searchbox].titleize}</span>").html_safe %>, <%= @report.locations.first.country.gsub(params[:searchbox], "<span class='highlight'>#{params[:searchbox]}</span>").gsub(params[:searchbox].titleize, "<span class='highlight'>#{params[:searchbox].capitalize}</span>").html_safe %></span>
                          <% else %>
                            <span><%= @report.locations.first.city %>, <%= @report.locations.first.state %>, <%= @report.locations.first.country %></span>
                          <% end %>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-clock-o'></i>
                          <span><%= @report.duration %></span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-calendar'></i>
                          <span><%= @report.season %></span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-user'></i>
                          <span><%= @report.user.username %></span>
                        </a>
                        <a class='btn btn-link' href='#comments'>
                          <i class='fa fa-comments'></i>
                          <span><%= @report.comments.count %> Comments</span>
                        </a>
                      </div>
                      <div class='row'>
                        <div class='col-sm-12'>
                          <a href='blog_single_post.html'>
                            <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" width="848" height="364" src="<%= @report.photos.first_image %>" />
                          </a>
                        </div>


                       

                     





                        <div class='col-sm-12'>
                        <% if params[:searchbox] %>
                          <p><%= simple_format(@report.text.gsub(params[:searchbox], "<span class='highlight'>#{params[:searchbox]}</span>").gsub(params[:searchbox].titleize, "<span class='highlight'>#{params[:searchbox].titleize}</span>")) %></p>
                        <% else %>
                          <p><%= simple_format(@report.text) %></p>
                        <% end %>
                        </div>
                      </div>

                    <% if @report.photos %>
                      <hr class='hr-half'>
                        <% @report.photos.each_slice(3) do |three_photos| %>
                              <div class = "row">
                                <% three_photos.each do |photo| %>
                                  <div class = "col-md-4">
                                    <div>
                                      <div onclick = "showincarousal(<%= photo.id %>)">
                                      <img class ="all_boxes_same" src = "<%= photo.image.url %>"><br>
                                      </div>
                                        <% if current_user == @report.user %>

                                          <%= form_tag "/photos/#{photo.id}", method: :delete do %>
                                          <p class = "text-center tighten">
                                          <button class='btn btn-contrast  btn-xs' align="center"> Remove Image</button>
                                          <input type="hidden" name="report" value="<%= @report.id %>">
                                          </p>
                                        <% end %>
                                        <% end %>
                                    </div>
                                  </div>
                                <% end %>
                              </div>
                            <% end %>
                    <% end %>

                    </div>
                  </div>



                  <!--popup-->
                  <!-- Trigger the modal with a button -->
                  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

                  <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-lg %>">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title"><%= @report.title %> Images </h4>
                        </div>
                        <div class="modal-body">
                          <!--carousal-->
               
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <!-- <div class="item active" id ="carouselfirst">
                    <img src="https://media.timeout.com/images/101594229/image.jpg" alt="...">
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div> -->
              <% @report.photos.each do | photo| %>
                  <div class="item" id = "carousel<%= photo.id %>">
                    <img class="img-responsive" src="<%= photo.image.url %>" alt="...">
                    <div class="carousel-caption">
                  </div>
                    <p class = "text-center"><%= photo.subtitle %></p>
                  </div>
              <% end %>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            
              <!--end carousal-->
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!--end popup-->


                  


             
         









                  <hr class = "hr-half">
                  
                  <div class = "row">
                    <% if current_user == @report.user %>
                      <div class = "col-sm-2">
                         <%= form_tag "/reports/#{@report.id}/edit", method: :get do %>
                          <button class='btn btn-contrast btn-md'><i class="fa fa-save" aria-hidden="true"></i> Edit Report</button>
                        <% end %>
                      </div>
                      <div class = "col-sm-2">
                       <%= form_tag "/reports/#{@report.id}/new_images", method: :get do %>
                          <button class='btn btn-contrast btn-md'><i class="fa fa-save" aria-hidden="true"></i> Add Images</button>
                        <% end %>
                      </div>
                      <div class = "col-sm-2">
                        <%= form_tag "/reports/#{@report.id}", method: :delete do %>
                          <button class='btn btn-contrast btn-md'><i class="fa fa-save" aria-hidden="true"></i> Delete</button>
                        <% end %>
                       </div>
                      </div>
                    <% end %>



     
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='author-box'>
                        <div class='row'>
                          <div class='col-sm-3 col-lg-2'>
                            <img alt="Author" class="user_profile" src="<%= @report.user.photos.first.image.url %>" />
                          </div>
                          <div class='col-sm-9 col-lg-10'>
                            <h3 class='title'>About author</h3>
                            <p><%= @report.about_author %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>