<div class = "well">
<h1 class = "text-center"><%= @report.title %></h1>
<% @report.locations.each do | location | %>
<%= location.city %>, <% if location.state != "" %><%= location.state %> ,<% end %><%= location.country %><br>
<% end %>
<h3><%= @report.duration %>(<%= @report.season %>)</h3>
<h5><%= @report.user.username %></h5>
<%= simple_format(@report.text) %>
<%= button_to "Like", "/likes/#{@report.id}/?report=true", method: :post %>
<%= @report.likes.where(like: true).count  %>
<%= button_to "Dislike", "/likes/#{@report.id}/?report=false", method: :post %>
</div>





<% if @report.posted_live == false %>
  <%= button_to "Post Trip Report", "/reports/confirm/#{@report.id}", method: :post %>
<% end %>

<% button_to "Edit Post", "/reports/edit/#{@report.id}", method: :get %>


<div class = "well">
<h4>Comments:</h4>
<% @comments.each_with_index do |comment, index| %>
<div id="comment-<%= comment.id %>">
  <div class = "well">
    <div class = "row">
      <div class = "col-md-2">
        <%= comment.user.username %>
      </div>
      <div class = "col-md-8">
        <h6><%= comment.created_at.strftime("%b %e, %l:%M %p") %><br></h6>
        <%= simple_format(comment.text.html_safe) %><br><br>
       </div>
      <div class = "col-md-2">
        <p onclick = "reply(<%= comment.id %>, '<%= comment.user.username %>')">Reply</p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>

<div id = "addComment">
<h4>Add A comment</h4>
<%= form_tag "/comments/#{@report.id}/new/?report=new", method: :post do %>
 <textarea name="text" cols="50" rows="10" id="replybox"></textarea>
  <input type = "submit" value = "Add Comment">
  <% end %>
  </div>
